.nav-pills .nav-link.fw-bold {
    font-weight: 700; 
  }

  .full-width {
    width: 100vw;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    max-width: 100%; /* Ensure it spans the entire width */
    padding: 0 15px;
}

.row {
    margin: 0; /* Remove default row margin */
}

.card {
    width: 100%; /* Cards span full width of their container */
}

h1, h2, h3, p {
    margin: 0 auto;
}
