.wefit {
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 2rem; 
}

.full-width {
    width: 100vw;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

.row {
    margin: 0;
    /* Remove default row margin */
}

.card {
    width: 100%;
    /* Cards span full width of their container */
}

h1,
h2,
h3,
p {
    margin: 0 auto;
}

.hero-section {
    padding: 5rem 0;
}

.mission-section {
    background-color: #f8f9fa;
}

.mission-section h2 {
    margin-bottom: 1rem;
}

.mission-section .row div {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: black;
}

.contact-section {
    background-color: #000;
    color: white;
}

.contact-section h3 {
    margin-bottom: 1rem;
}

.contact-section .form-control {
    border-radius: 0.25rem;
}

.contact-section .btn-primary {
    padding: 0.5rem 2rem;
    background-color: #007bff;
    border: none;
}